.nav-container {
  padding: 10px;
  background-color: #272727;
  top: 0;
  z-index: 1000; 
}
.nav-website-logo {
  height: 50px;
  width: auto;
  padding-left: 40px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #f1f5f9;
}
.logout-button {
  background-color: #6366f1;
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 15px 30px;
  color: #f1f5f9;
  margin-right: 40px;
  cursor: pointer;
}
.nav-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  cursor: pointer;
}
